.site{
  margin:0;
  padding:0;
  min-height: 100vh;
  background: #333;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: proxima;
  z-index: -1;
  opacity: 0;
  -webkit-animation: mymove 5s; /* Chrome, Safari, Opera */
  animation: mymove 5s;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  0% {z-index: 5; opacity: 1;}
  50% {z-index: 5; opacity: 1;}
  100% {z-index: -1; opacity: 0;}
}

/* Standard syntax */
@keyframes mymove {
  0% {z-index: 5; opacity: 1;}
  50% {z-index: 5; opacity: 1;}
  100% {z-index: 5; opacity: 0;}
}

.container5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background: #333;
}
.container5 .human-heart {
  margin: 5em;
  animation: .8s infinite beatHeart;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
